<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="./css/styles.css">
  <link rel="icon" href="/img/weather.png">
</head>

<body>
  <title>About</title>
  <div class='main-content'>
    {{>header}}
    <img class="portrait" src="./img/IMG_20180930_125707.jpg">
  </div>

  {{>footer}}
</body>

</html>